@model IEnumerable<BlogSystem.Models.Blog>

@{
    ViewBag.Title = "ブログ記事投稿サイト";
}

<link href="~/Content/style.css" rel="stylesheet" type="text/css" />

<h2 style="text-align:center">ブログ記事投稿サイト</h2>
<p class="comment">皆さんの意見共有の場として、ご利用いただけたら思います！！</p>
<p class="comment">ぜひ積極的にご活用ください！！</p>
<img src="~/Content/background.png" />
<div class="container">
@foreach (var item in Model)
{
    <p class="contents">タイトル:@Html.DisplayFor(modelItem => item.Title)</p>
    <p class="contents">@Html.DisplayFor(modelItem => item.postDate)</p>
    <p class="contents">@Html.DisplayFor(modelItem => item.Content)</p>
    <span class="contents">  @Html.ActionLink("編集", "Edit", new { id = item.Id })</span>
    <span class="contents">  @Html.ActionLink("詳細", "Details", new { id = item.Id })</span>
    <span class="contents">  @Html.ActionLink("削除", "Delete", new { id = item.Id })</span>
}
    <span class="contents">  @Html.ActionLink("新規記事作成", "Create")</span>
</div>

